
*{
    margin: 20px;
    justify-content: center;
    
}
.principal{
    width: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.form_cont{
    text-align: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    
    padding: 20px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    
    margin: 20px;
    padding: 20px;
    
    
}

.form_cont{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(1, 2fr);
    grid-gap: 1px;
}

input{
    margin: 5px;
}



radio{
    border: solid 2px black;
}
